<!DOCTYPE html>
<html>

<head>
  <title>Latest Freshdesk Tickets</title>
</head>

<body>
  <h1>Latest 5 Freshdesk Tickets</h1>
  {% for ticket in tickets %}
  <div style="border: 1px solid #ccc; margin-bottom: 20px; padding: 10px">
    <h1>Ticket Details</h1>
    <h2>Ticket ID: {{ ticket.id }}</h2>
    <h2>Ticket Holder: {{ ticket.name }}</h2>
    {% if ticket.payload %}
    <ul>
      <li><strong>Priority:</strong> {{ ticket.payload.priority }}</li>
      <li><strong>Status:</strong> {{ ticket.payload.status }}</li>
      <li><strong>Query Type:</strong> {{ ticket.payload.query_type }}</li>
      <li>
        <strong>Specific Issue:</strong> {{ ticket.payload.specific_issue }}
      </li>
      {% comment %}
      <li><strong>Problem:</strong> {{ ticket.payload.problem }}</li>
      <li><strong>Resolution:</strong> {{ ticket.payload.resolution }}</li>
      {% endcomment %}
    </ul>
    {% endif %}
    <h3>Conversations:</h3>
    <ul>
      {% for conv in ticket.conversation %}
      <li>
        <strong>{{ conv.role }}:</strong>
        {{ conv.body_text }}
      </li>
      {% empty %}
      <li>No conversations found.</li>

      {% endfor %}
    </ul>

    <hr>

      <!-- <h2>Prompt</h2> -->
      <h3>Summarized Problem:</h3>
      <p>{{ ticket.payload.problem }}</p>

    <hr>

      <h2>Non-RAG</h2>
      
      <h3>Query type:</h3>
      <p>{{ ticket.query_type_no_context }}</p>
      <h3>Specific issue type:</h3>
      <p>{{ ticket.specific_issue_type_no_context }}</p>
      <h3>Priority level:</h3>
      <p>{{ ticket.priority_no_context }}</p>
      <h3>Response:</h3>
      <p>{{ ticket.answer_no_context }}</p>

    <hr>

      <h2>RAG</h2>
      <h3>Query type:</h3>
      <p>{{ ticket.query_type }}</p>
      <h3>Specific issue type:</h3>
      <p>{{ ticket.specific_issue_type }}</p>
      <h3>Priority level:</h3>
      <p>{{ ticket.priority }}</p>
      <h3>Response:</h3>
      <p>{{ ticket.generated_response }}</p>

  </div>
  {% empty %}
  <p>No tickets found.</p>

  {% endfor %}
</body>

</html>